/*1347300278,173213213*/


div._3em ._24x img, div._3em .uiStreamPassive, div._35q ._3el, div._3em .actorName, div._3em{display:none}
div._3em .fbEmuMainBody img, div._35q ._3em{display:block}
div._3em .messageBody{display:block;color:gray}
div._3em .passiveName{font-weight:bold}
div._35q .fbEmuImage{float:none}
div._35q, div._35q .ego_column{width:122px}
div._3en img{max-width:100px;resize:both}
div._3eo{max-height:45px;overflow:hidden}
div._35q .fbEmuStreamAttachmentOffset{border-left:0;padding-left:0}
.tinyViewport div._22r, div._22r{position:fixed !important;right:-300px !important;width:244px}
.tinyViewport ._22q div._22r, ._22q div._22r{width:122px}
div._22q #pagelet_rhc_footer{display:none}
div._22q .ego_column, div._22q{width:122px}
div._22q .image_body_block{padding-top:0}
div._22q .fbEmuImage{float:none}
div._22t .uiSideHeader{background:none;border-bottom:1px solid #c8d1e2;border-top:0;padding:4px;margin-bottom:0}
div._22t .ego_unit{margin-bottom:7px;padding-top:3px;border-color:#c8d1e2}
div._22t div.ego_section > div{padding-left:0;padding-right:0}
._22t .uiSideHeader h4{color:gray;font-weight:normal}
._22q a.uiHeaderActions{display:none}
._22s{bottom:auto;top:50px}
.timelineLayout ._22t{bottom:15px;padding-top:12px;width:244px}
.pagesTimelineLayout ._22t{padding-top:37px}
.permalinkBody ._22t .uiBlingBox{border-bottom:none}
button.async_saving .default_message,
form{margin:0;padding:0}
label{cursor:pointer;color:#666;font-weight:bold;vertical-align:middle}
label input{font-weight:normal}
textarea, .inputtext, .inputpassword{border:1px solid #bdc7d8;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:11px;margin:0;padding:3px}
textarea{max-width:100%}
select{border:1px solid #bdc7d8;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:11px;padding:2px}
.inputtext, .inputpassword{padding-bottom:4px}
.ff4.mac .inputtext, .ff4.mac .inputpassword{padding-bottom:3px}
.inputradio{padding:0;margin:0 5px 0 0;vertical-align:middle}
.inputcheckbox{border:0;vertical-align:middle}
.inputbutton, .inputsubmit{border-style:solid;border-width:1px;border-color:#d9dfea #0e1f5b #0e1f5b #d9dfea;background-color:#3b5998;color:#fff;padding:2px 15px 3px 15px;text-align:center}
.inputsubmit_disabled{background-color:#999;border-bottom:1px solid #000;border-right:1px solid #666;color:#fff}
.inputaux{background:#f0f0f0;border-color:#e7e7e7 #666 #666 #e7e7e7;color:#000}
.inputaux_disabled{color:#999}
.inputsearch{background:#fff url(/images/IJYgcESal33.png) no-repeat left 4px;padding-left:17px}
body{background:#fff;font-size:12px;font-family:'lucida grande', tahoma, verdana, arial, sans-serif;color:#333;line-height:1.28;margin:0;padding:0;text-align:left;direction:ltr;unicode-bidi:embed}
h1, h2, h3, h4, h5, h6{font-size:13px;color:#333;margin:0;padding:0}
h1{font-size:14px}
h4, h5{font-size:11px}
p{margin:1em 0}
a{cursor:pointer;color:#3b5998;-moz-outline-style:none;text-decoration:none}
a:hover{text-decoration:underline}
img{border:0}
td, td.label{font-size:11px;text-align:left}
dd{color:#000}
dt{color:#777}
ul{list-style-type:none;margin:0;padding:0}
abbr{border-bottom:none}
hr{background:#d9d9d9;border-width:0;color:#d9d9d9;height:1px}
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{zoom:1}
.datawrap{word-wrap:break-word}
.word_break{display:inline-block}
wbr:after{content:"\00200B"}
.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.img_loading{position:absolute;top:-9999999px}
.aero{opacity:.5}
.column{float:left}
.center{margin-left:auto;margin-right:auto}
#facebook .hidden_elem{display:none !important}
#facebook .invisible_elem{visibility:hidden}
#facebook .accessible_elem{left:-9999px;position:fixed}
.direction_ltr{direction:ltr}
.direction_rtl{direction:rtl}
.text_align_ltr{text-align:left}
.text_align_rtl{text-align:right}
.DOMControl_placeholder{color:#777}
.no_js .DOMControl_placeholder{color:#000}
body{overflow-y:scroll}
.mini_iframe, .serverfbml_iframe{overflow-y:visible}
.auto_resize_iframe{height:auto;overflow:hidden}
.pipe{color:gray;padding:0 3px}
#content{width:auto;padding:0;margin:0}
.profile #content, .home #content, .search #content{min-height:600px}
.UIStandardFrame_Container{width:960px;padding-top:20px;margin:0 auto}
.UIStandardFrame_Content{width:760px;float:left;margin:0;padding:0}
.UIStandardFrame_SidebarAds{width:200px;padding:0;margin:0;float:right}
.UIFullPage_Container{width:940px;padding:20px 12px 0;margin:0 auto}
.empty_message{font-size:13px;line-height:17px;padding:20px 20px 50px 20px;text-align:center;background:#f7f7f7}
.see_all{text-align:right}
.standard_status_element{visibility:hidden}
.standard_status_element.async_saving{visibility:visible}
img.tracking_pixel{height:1px;position:absolute;visibility:hidden;width:1px}
#dropmenu_container{display:block;height:0;margin:0 auto;padding:0;position:absolute;width:964px;z-index:300}
.inlineBlock{display:-moz-inline-box;display:inline-block;zoom:1}
.text_exposed_root{display:inline}
.text_exposed .text_exposed_show{display:inline}
.text_exposed_show,
.text_exposed .text_exposed_hide{display:none}
.text_exposed_link{font-size:9px;padding:0 12px 0 0;white-space:nowrap}
.text_exposed_link_icon{margin:0 0 -1px 4px}
.text_exposed .text_exposed_link{display:none !important}
button.as_link{-moz-user-select:text;background:none;border:none;color:#3b5998;cursor:pointer;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:100%;margin:0;overflow:visible;padding:0;text-align:left;width:auto}
button.as_link::-moz-focus-inner{border:0;padding:0}
button.as_link:hover span, button.as_link:focus span{text-decoration:underline}
button.as_link .button_img{margin:0 6px 0 0;vertical-align:text-bottom;width:16px;height:16px}
.sidebarMode #chatFriendsOnline{display:none}

div div.uiFriendsTokenizerTypeaheadView{width:300px}
.uiMetaComposer .friendsTokenizer .tokenarea{padding-left:2px}
.uiMetaComposer .attachmentBottomArea .inputtext{border:none;min-width:160px;outline:none}
.uiMetaComposer .friendsTokenizer .uiTypeaheadDisabled{display:none}
.uiMetaComposer .taggerLocationSharer .wrap, .uiMetaComposer .musicTypeahead .wrap{border:0}
.uiMetaComposer .taggerLocationSharer .uiStickyPlaceholderInput, .uiMetaComposer .musicTypeahead .uiStickyPlaceholderInput{width:100%}
.uiMetaComposerMessageBox .cameraIcon{background-image:url(/images/98Bjm1vovS7.png);background-repeat:no-repeat;background-position:-90px -177px;width:29px}
.uiMetaComposerMessageBox .cameraIconSelected{background-image:url(/images/98Bjm1vovS7.png);background-repeat:no-repeat;background-position:-60px -177px;width:29px}
.uiMetaComposerMessageBox .friendTaggerIcon{background-image:url(/images/98Bjm1vovS7.png);background-repeat:no-repeat;background-position:-30px -177px;width:29px}
.uiMetaComposerMessageBox .friendTaggerIconSelected{background-image:url(/images/98Bjm1vovS7.png);background-repeat:no-repeat;background-position:-314px -102px;width:29px}
.uiMetaComposerMessageBox .musicTaggerIcon{background-image:url(/images/98Bjm1vovS7.png);background-repeat:no-repeat;background-position:-210px -177px;width:29px}
.uiMetaComposerMessageBox .musicTaggerIconSelected{background-image:url(/images/98Bjm1vovS7.png);background-repeat:no-repeat;background-position:-150px -177px;width:29px}
.uiMetaComposerMessageBox .placeTaggerIcon{background-image:url(/images/98Bjm1vovS7.png);background-repeat:no-repeat;background-position:-224px -102px;width:29px}
.uiMetaComposerMessageBox .placeTaggerIconSelected{background-image:url(/images/98Bjm1vovS7.png);background-repeat:no-repeat;background-position:-254px -102px;width:29px}

#pagefooter{border-top:0}
#pageFooter{color:#737373;font-size:11px;margin:0 auto;width:980px}
#pageFooter a{text-decoration:none;white-space:nowrap}
#pageFooter a:last-child{margin-right:0}
#pageFooter a:hover{text-decoration:underline}
#contentCurve{background-color:#fff;border-bottom:1px solid #ccc;height:8px;font-size:1px}
.hasLeftCol #contentCurve{border:1px solid #ccc;border-top:none;position:relative}
#footerContainer{border-top:1px solid #eee;padding:8px 8px 38px;position:relative}
#footerContainer .navigation{text-align:right}
.noFooter #pageFooter{display:none}
#globalContainer{margin:0 auto;position:relative;zoom:1}
.fbx #globalContainer{width:981px}
.sidebarMode .fbx #globalContainer{padding-right:205px}
.fbx #tab_canvas > div{padding-top:0}
.fb_content{padding-bottom:20px}
.fbx .fb_content{padding-bottom:0}
#mainContainer{margin-left:-1px;display:block;width:100%}
.hasLeftCol #mainContainer{border-right:1px solid #ccc;min-height:600px}
#leftCol{display:none;float:left;padding:20px 0 0 2px;width:179px;word-wrap:break-word}
.hasLeftCol #leftCol{display:block}
#rightCol{margin-top:-10000px;float:right;padding-right:0;width:244px;word-wrap:break-word}
.hasRightCol #rightCol{margin-top:0}
.hasLeftCol #rightCol{padding-right:20px}
#contentCol{background-color:#fff;padding-top:15px}
.hasLeftCol #contentCol{border-left:1px solid #ccc;margin-left:181px;min-height:600px}
#headerArea{margin-bottom:5px;padding:2px 0 12px}
.hasLeftCol #headerArea{float:left;margin:0 20px 0;width:759px}
#contentArea{margin-right:-1px;padding-left:1px;word-wrap:break-word}
.hasLeftCol #contentArea, .hasRightCol #contentArea{float:left;margin-right:0}
.hasLeftCol #contentArea{padding:0 20px;width:759px}
.hasRightCol #contentArea{width:714px}
.hasLeftCol .hasRightCol #contentArea{padding-right:0;width:493px}
#bottomContent{clear:both;padding:0 20px 12px}
#blueBarHolder.slim{height:38px}
.hasVoiceBar #blueBarHolder.slim{height:65px}
#blueBar{background-color:#3b5998;border-bottom:1px solid #133783;min-width:981px;position:relative;z-index:300}
.slim #blueBar{box-shadow:0 2px 2px -2px rgba(0, 0, 0, .52);height:37px}
.slim #blueBar.fixed_elem{left:0;right:0;top:0}
.tinyViewport .slim #blueBar.fixed_elem{margin:0;position:relative !important}
.composerTourInProgress .slim #blueBar.fixed_elem{position:static !important}
#pageHead{margin:0 auto;width:980px}
.fbx #pageHead, #blueBar #pageHead{padding-top:6px;width:981px}
.sidebarMode .fbx #pageHead, .sidebarMode #blueBar #pageHead{padding-right:205px}
#pageLogo{float:left;margin-left:-6px;z-index:5}
#pageLogo.pixelSnapped{margin-left:-7px;padding-right:1px}
#pageLogo a, #pageLogo a:hover, #pageLogo a:focus, #pageLogo a:active{background-image:url(/images/1XasGjTsZ3i.png);background-repeat:no-repeat;background-position:2px -186px;display:block;height:31px;outline:none;width:103px}
#pageLogo.pixelSnapped a, #pageLogo.pixelSnapped a:hover, #pageLogo.pixelSnapped a:focus, #pageLogo.pixelSnapped a:active{background-image:url(/images/1XasGjTsZ3i.png);background-repeat:no-repeat;background-position:1px -152px}
#pageLogo a:hover, #pageLogo a:focus, #pageLogo a:active{background-color:#4b67a1}
#headNav{height:30px;margin-left:176px}
#pageNav{margin-right:1px}
#pageNav .navItem, #pageNav #navAccount{float:left}
#pageNav .navItem a, #pageNav #navAccountLink{color:#d8dfea;display:inline-block;font-weight:bold;height:31px;line-height:29px;position:relative;text-decoration:none;vertical-align:top}
#pageNav .middleItem a, #pageNav .lastItem a, #pageNav #navAccountLink{margin-left:-1px}
#pageNav .middleItem a, #pageNav .lastItem a{padding:0 8px}
#pageNav .navItem a:hover, #pageNav .navItem a:focus, #pageNav .navItem a:active, #pageNav #navAccountLink:hover, #pageNav #navAccountLink:focus, #pageNav #navAccountLink:active{background-color:#4b67a1;color:#fff;outline:none;z-index:1}
#pageNav .navItem a:after{background:#526da4;content:" ";display:block;height:14px;position:absolute;right:0;top:9px;width:1px}
#pageNav .navItem a:hover:after, #pageNav .lastItem a:after{display:none}
#pageNav .tinyman .headerTinymanPhoto{border:1px solid #294a8f;border-top:1px solid #123682;border-radius:2px;height:23px;margin:3px 5px 3px 3px;width:23px}
#pageNav .tinyman .headerTinymanName{display:inline-block;max-width:175px;overflow:hidden;padding-right:8px;text-overflow:ellipsis;vertical-align:top;white-space:nowrap}
#pageNav .lightNav .headerTinymanName{color:#d8dfea;font-weight:bold;line-height:29px}
#pageNav .voiceBarToggle{display:none}
.hasVoiceToggle #pageNav .voiceBarToggle{display:inline}


.feedback_toggle_link .feedbackBling .text{line-height:normal}
a.feedbackBling{margin-left:-1px;margin-right:-1px;padding-bottom:0;padding-top:0}
.feedback_toggle_link .feedbackBling .img{margin-top:-1px}
.scrollable{overflow-y:auto}

.pop_content h2 span{display:block;padding:5px 10px}
.pop_content .dialog_content{background:#fff;border:1px solid #555;border-top-width:0}
.pop_content .dialog_content.dialog_content_titleless{border-top:1px solid #555}
.pop_content .dialog_loading, .dialog_loading_shown .dialog_title, .dialog_loading_shown .dialog_content{display:none}
.dialog_loading_shown .dialog_loading{display:block}
.pop_content .dialog_body{padding:10px;border-bottom:1px solid #ccc}
.omitDialogFooter .pop_content .dialog_body{border-bottom:0}
.pop_content .dialog_summary{background:#f2f2f2;padding:8px 10px;border-bottom:1px solid #ccc}
.pop_content .dialog_buttons{background:#f2f2f2;padding:8px 10px 8px 10px;position:relative;text-align:right}
.pop_content .dialog_buttons_msg{float:left;line-height:17px;padding-top:4px}
.pop_content .dialog_buttons_msg .uiInputLabel{line-height:14px}
.pop_content .dialog_footer{background:#F2F2F2 none repeat scroll 0}
.full_bleed .pop_content .dialog_body{padding:0}
.uiProfileBlockContent{overflow:hidden}
.uiSimpleScrollingLoadingIndicator{display:none;margin:auto}
.async_saving .uiSimpleScrollingLoadingIndicator{display:block}
.ufiItem .async_saving .uiUfiViewSharesLink,
.ufiItem .stat_elem .uiUfiViewSharesLoading{display:none}
.ufiItem .async_saving .uiUfiViewSharesLoading{display:inline}
.uiButton{cursor:pointer;display:inline-block;font-size:11px;font-weight:bold;line-height:13px;padding:2px 6px;text-align:center;text-decoration:none;vertical-align:top;white-space:nowrap}
.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover{background-image:url(/images/NRGEePMfwP2.png);background-repeat:no-repeat;background-position:-352px -54px;background-color:#eee;border:1px solid #999;border-bottom-color:#888;box-shadow:0 1px 0 rgba(0, 0, 0, .1)}
.uiButton + .uiButton{margin-left:4px}
.uiButton:hover{text-decoration:none}
.uiButton:active, .uiButtonDepressed{background:#ddd;border-bottom-color:#999;box-shadow:0 1px 0 rgba(0, 0, 0, .05)}
.uiButton .img{margin-top:2px;vertical-align:top}
.uiButtonLarge .img{margin-top:4px}
.uiButton .customimg{margin-top:0}
.uiButtonText, .uiButton input{background:none;border:0;color:#333;cursor:pointer;display:-moz-inline-box;display:inline-block;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:11px;font-weight:bold;line-height:13px;margin:0;padding:1px 0 2px;white-space:nowrap}
.uiButton input::-moz-focus-inner{border:0;padding:0}
.uiButtonOverlay, .uiButtonOverlay:hover{background-clip:padding-box;background-color:#fff;background-color:rgba(255, 255, 255, .8);background-image:none;border-color:#a5a5a5;border-color:rgba(0, 0, 0, .35);border-radius:2px}
.uiButtonOverlay:focus, .uiButtonOverlay:active{background-color:#f9fafc;background-color:rgba(249, 250, 252, .9);border-color:#3b5998;border-color:rgba(59, 89, 152, .5)}
form.async_saving .uiButton.uiButtonOverlay, .uiButtonOverlay.uiButtonDisabled, .uiButtonOverlay.uiButtonDisabled:active, .uiButtonOverlay.uiButtonDisabled:focus, .uiButtonOverlay.uiButtonDisabled:hover{background-color:#fff;background-color:rgba(255, 255, 255, .8);border-color:#c8c8c8;border-color:rgba(180, 180, 180, .8)}
.uiButtonSpecial{background-image:url(/images/NRGEePMfwP2.png);background-repeat:no-repeat;background-position:-352px -5px;background-color:#69a74e;border-color:#3b6e22 #3b6e22 #2c5115}
.uiButtonSpecial:active{background:#609946;border-bottom-color:#3b6e22}
form.async_saving .uiButton.uiButtonSpecial, .uiButtonSpecial.uiButtonDisabled, .uiButtonSpecial.uiButtonDisabled:active, .uiButtonSpecial.uiButtonDisabled:focus, .uiButtonSpecial.uiButtonDisabled:hover{background:#b4d3a7;border-color:#9db791}
.uiButtonConfirm{background-image:url(/images/NRGEePMfwP2.png);background-repeat:no-repeat;background-position:-352px -103px;background-color:#5b74a8;border-color:#29447e #29447e #1a356e}
.uiButtonConfirm:active{background:#4f6aa3;border-bottom-color:#29447e}
form.async_saving .uiButton.uiButtonConfirm, .uiButtonConfirm.uiButtonDisabled, .uiButtonConfirm.uiButtonDisabled:active, .uiButtonConfirm.uiButtonDisabled:focus, .uiButtonConfirm.uiButtonDisabled:hover{background:#adbad4;border-color:#94a2bf}
form.async_saving .uiButton.uiButtonSpecial .uiButtonText, form.async_saving .uiButton.uiButtonSpecial input, form.async_saving .uiButton.uiButtonConfirm .uiButtonText, form.async_saving .uiButton.uiButtonConfirm input, .uiButtonSpecial .uiButtonText, .uiButtonSpecial input, .uiButtonSpecial.uiButtonDisabled .uiButtonText, .uiButtonSpecial.uiButtonDisabled input, .uiButtonConfirm .uiButtonText, .uiButtonConfirm input, .uiButtonConfirm.uiButtonDisabled .uiButtonText, .uiButtonConfirm.uiButtonDisabled input{color:#fff}
form.async_saving .uiButton, .uiButtonDisabled, .uiButtonDisabled:active, .uiButtonDisabled:focus, .uiButtonDisabled:hover{background:#f2f2f2;border-color:#c8c8c8;box-shadow:none}
form.async_saving .uiButton .img, .uiButtonDisabled .img{opacity:.5}
form.async_saving .uiButtonText, form.async_saving .uiButton input, .uiButtonDisabled .uiButtonText, .uiButtonDisabled input{color:#b8b8b8}
form.async_saving .uiButton, form.async_saving .uiButtonText, form.async_saving .uiButton input, .uiButtonDepressed, .uiButtonDepressed .uiButtonText, .uiButtonDepressed input, .uiButtonDisabled, .uiButtonDisabled .uiButtonText, .uiButtonDisabled input{cursor:default}
.uiButtonLarge{height:19px}
.uiButtonLarge, .uiButtonLarge .uiButtonText, .uiButtonLarge input{font-size:13px;line-height:16px}
.uiButtonSuppressed{background:none;border-color:transparent;box-shadow:none}
.uiButtonNoText .img{margin-left:-1px;margin-right:-1px}
.android .uiButtonText, .android .uiButton input{padding:3px 0 1px 1px}
.ff4.mac .uiButton, .ff4.mac .uiButtonText, .ff4.mac .uiButton input{line-height:14px}
.ff4.mac .uiButtonLarge, .ff4.mac .uiButtonLarge .uiButtonText, .ff4.mac .uiButtonLarge input{line-height:16px}
.ff4.mac .uiButtonText, .ff4.mac .uiButton input{margin-bottom:-1px}
.ff4.mac .uiButtonLarge .uiButtonText, .ff4.mac .uiButtonLarge input{margin-bottom:0}
.uiCloseButton{cursor:pointer;display:-moz-inline-box;display:inline-block;margin:0;padding:0;zoom:1}
label.uiCloseButton{overflow:hidden}
.ff4 .uiLinkButton:hover{text-decoration:none}
.uiLinkButtonSubtle input, .uiLinkButtonSubtle:hover, .uiLinkButtonSubtle input:hover, .uiLinkButtonSubtle input:focus, .uiLinkButtonSubtle input:active{color:gray}
.uiLinkButton input.async_saving{text-decoration:none}
.uiBoxGray{background-color:#f2f2f2;border:1px solid #ccc}
.uiBoxDarkgray{color:#ccc;background-color:#333;border:1px solid #666}
.uiBoxLightblue{background-color:#edeff4;border:1px solid #d8dfea}
.uiBoxRed{background-color:#ffebe8;border:1px solid #dd3c10}
.uiBoxWhite{background-color:#fff;border:1px solid #ccc}
.uiBoxYellow{background-color:#fff9d7;border:1px solid #e2c822}
.uiBoxOverlay{background:rgba(255, 255, 255, .85);border:1px solid #3b5998;border:1px solid rgba(59, 89, 153, .65);zoom:1}
.noborder{border:none}
.topborder{border-bottom:none;border-left:none;border-right:none}
.bottomborder{border-left:none;border-right:none;border-top:none}
.dashedborder{border-style:dashed}
.uiGrid{border:0;border-collapse:collapse;border-spacing:0}
.uiGridFixed{table-layout:fixed;width:100%}
.uiGrid .vTop{vertical-align:top}
.uiGrid .vMid{vertical-align:middle}
.uiGrid .vBot{vertical-align:bottom}
.uiGrid .hLeft{text-align:left}
.uiGrid .hCent{text-align:center}
.uiGrid .hRght{text-align:right}
.uiIconText{display:inline-block;padding-left:21px;position:relative}
label.uiIconText{vertical-align:baseline}
.uiIconText .img{left:0;position:absolute;top:-1px;vertical-align:middle}
i.img u{position:absolute;top:-9999999px}
.UIImageBlock_Content{display:table-cell;vertical-align:top;width:10000px}
.UIImageBlock_Image{float:left;margin-right:5px}
.UIImageBlock_Image .img, img.UIImageBlock_Image, i.UIImageBlock_Image{display:block}
.UIImageBlock_Ext{float:right}
.UIImageBlock_ICON_Image{margin-right:5px}
.UIImageBlock_ICON_Content{padding-top:1px}
.UIImageBlock_SMALL_Image{margin-right:8px}
.UIImageBlock_MED_Image, .UIImageBlock_ENT_Image{margin-right:10px}
.UIImageBlock_Entity .UIImageBlock_Content{height:50px;vertical-align:middle}
.UIImageBlock_Entity img.UIImageBlock_Image, .UIImageBlock_Entity i.UIImageBlock_Image, .UIImageBlock_Entity .UIImageBlock_Image .img{height:50px;width:50px}
.UIImageBlock_Entity .UIImageBlock_Ext{margin-top:14px;padding-left:8px}
.uiInfoTable{border:0;border-collapse:collapse;border-spacing:0;width:100%}
.uiInfoTableFixed{table-layout:fixed}
.uiInfoTable .spacer td{padding:5px 0}
.noBorder .spacer td{padding:0;visibility:hidden}
.uiInfoTable .label,
.uiInfoTable .data,
.uiInfoTable .rightCol{padding:3px 0 1px 0;text-align:left;vertical-align:top}
.uiInfoTable .dataRow .data,
.uiInfoTable .dataRow .rightCol{padding-top:5px}
.uiInfoTable .data > input,
.uiInfoTable .data > label input,
.uiInfoTable .rightCol > input,
.uiInfoTable .rightCol > label input{margin-left:0}
.uiInfoTable .label{color:#666;font-weight:bold;padding-right:10px;text-align:right;width:130px}
.uiInfoTable .dataRow .label{padding-top:8px}
.uiInfoTable .label .annotation{color:#999}
.uiInfoTable .rightCol{padding:0 0 0 20px;width:225px}
.lfloat{float:left}
.rfloat{float:right}
a.uiLinkLightBlue{color:#6d84b4}
a.uiLinkSubtle{color:gray}
.uiListItem{display:block}
.uiListHorizontalItem{float:left}
.uiListLight, .uiListMedium, .uiListDark{border-style:solid}
.uiListHorizontalItemBorder{border-width:0 0 0 1px}
.uiListVerticalItemBorder{border-width:1px 0 0 0}
.uiListItem:first-child{border-width:0}
.uiListLight{border-color:#e9e9e9}
.uiListMedium{border-color:#ccc}
.uiListDark{border-color:#aaa}
.uiListBulleted{color:#3b5998;list-style-type:square;margin-left:12px}
.pas{padding:5px}
.pam{padding:10px}
.pal{padding:20px}
.pts{padding-top:5px}
.ptm{padding-top:10px}
.ptl{padding-top:20px}
.prs{padding-right:5px}
.prm{padding-right:10px}
.prl{padding-right:20px}
.pbs{padding-bottom:5px}
.pbm{padding-bottom:10px}
.pbl{padding-bottom:20px}
.pls{padding-left:5px}
.plm{padding-left:10px}
.pll{padding-left:20px}
.phs{padding-left:5px;padding-right:5px}
.phm{padding-left:10px;padding-right:10px}
.phl{padding-left:20px;padding-right:20px}
.pvs{padding-top:5px;padding-bottom:5px}
.pvm{padding-top:10px;padding-bottom:10px}
.pvl{padding-top:20px;padding-bottom:20px}
.mas{margin:5px}
.mam{margin:10px}
.mal{margin:20px}
.mts{margin-top:5px}
.mtm{margin-top:10px}
.mtl{margin-top:20px}
.mrs{margin-right:5px}
.mrm{margin-right:10px}
.mrl{margin-right:20px}
.mbs{margin-bottom:5px}
.mbm{margin-bottom:10px}
.mbl{margin-bottom:20px}
.mls{margin-left:5px}
.mlm{margin-left:10px}
.mll{margin-left:20px}
.mhs{margin-left:5px;margin-right:5px}
.mhm{margin-left:10px;margin-right:10px}
.mhl{margin-left:20px;margin-right:20px}
.mvs{margin-top:5px;margin-bottom:5px}
.mvm{margin-top:10px;margin-bottom:10px}
.mvl{margin-top:20px;margin-bottom:20px}
.fss{font-size:9px}
.fsm{font-size:11px}
.fsl{font-size:13px}
.fsxl{font-size:16px}
.fsxxl{font-size:18px}
.fwn{font-weight:normal}
.fwb{font-weight:bold}
.fcb{color:#333}
.fcg{color:#333333}

#bootloader_3bOLd { height: 42px; }
